// Header
#header {
  background-image: url(../images/bg-masthead.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 30rem 0;
  h1 {
    font-size: 10rem;
  }
}
