// Main
#main {
  // About
  #about {
    padding: 25rem 0;
    background-image: url(../images/ipad.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000;
    h2 {
      font-size: 4rem;
    }
  }
  //   Projects
  #projects {
    padding: 10rem 0;
    .project-content {
      display: inline-block;
      padding: 3rem 4rem;
      h3 {
        font-size: 3rem;
      }
    }
  }
  //   Contact
  #contact {
    background-image: url(../images/bg-signup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 12rem 0;
    h2 {
      font-size: 3rem;
    }
    .card {
      padding: 10rem 0;
      margin-top: 5rem;
    }
  }
}
